.product-main {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.product-box {
    width: 40%;
    height: 30%;
    background: #D34735;
    display: flex;
    margin-bottom: 5vh;
}

section img {
    max-width: 10vw;
}

section h2 {
    color: white;
    padding: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 25vw;
    margin-bottom: 4vh;
}

.product-buttons button {
    height: 3vh;
    width: 8vw;
    border: none;
    border-radius: 10px;
}
